* { font-family: "Arial"; padding: 0; margin: 0; }

/*little framework*/
/*floats*/
.left { float: left; }
.right { float: right; }
.clear { clear: both; }

.layer  { position: relative; }

.layer.zero { z-index: 0; }
.layer.one { z-index: 1; }

.col-2-1 , .col-2-2 { width: 50%; float: left; }

ul.horiz  li { list-style-type: none; float:left; }
ul.list-style { margin-left: 20px; }

/*pages*/
.body { width: 1101px; margin: 0 auto; }

.body.header { }

.top-links { height: 48px; }
.top-links a { font-size: 14px; color: rgb( 29, 69, 118 ); }
.top-links a.middle { padding-top: 17px; }
.top-links a.middle-img { padding-top: 6.5px; padding-left: 10px; }

.logo { height: 170px; padding-top: 30px; }

.main-menu li { padding-left:20px; }
.main-menu  a{ font-size: 14px; color: rgb( 106, 178, 0 ); }

.banner-top{ width: 500px; height: 100px; margin: 20px; background-color: lightgray; }

.top-panel { position: absolute; height: 48px; width: 100%; background: url(/Content/img/top.png); }
.top-shadow { position:absolute; height: 11px; width: 1101px; background: url(/Content/img/shadow.png); }

.content { padding-top: 10px; }

.base-content { width: 830px; }

.user .header { margin-bottom: 10px; }
.user .header span{ padding-left:10px; }
.user .header .user-name { font-size: 25px; color: rgb( 106, 178, 0 ); }
.user .header .user-number { font-size: 14px; color: rgb( 215, 111, 18 ); }
.user .header .user-status 
{ 
	background-color: #ebebeb, 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #e1e1e1;
	font-size: 11px;
	color: rgb( 0, 0, 0 );
	width: 200px;
	height: 20px;
	padding-top: 7px;
	padding-left: 30px;
}
.user .photo { position: relative; }
.user .photo img { width: 250px; height: 350px; }
.user .photo .ready-to-work 
{ 
	position:absolute; 
	bottom: 4px; 
	padding-left: 4px;
	padding-top: 13px;
	left: 0; 
	background: rgb(223,134,34); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(223,134,34,1) 30%, rgba(209,106,27,1) 91%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(223,134,34,1)), color-stop(91%,rgba(209,106,27,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(223,134,34,1) 30%,rgba(209,106,27,1) 91%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(223,134,34,1) 30%,rgba(209,106,27,1) 91%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(223,134,34,1) 30%,rgba(209,106,27,1) 91%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(223,134,34,1) 30%,rgba(209,106,27,1) 91%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df8622', endColorstr='#d16a1b',GradientType=0 ); /* IE6-9 */
	color: white;  
	height:31px;
	width: 246px;
	font-size: 18px;
	-webkit-box-shadow:  0px -1px 3px 0px rgba(0, 0, 0, 1);
    box-shadow:  0px -1px 3px 0px rgba(0, 0, 0, 1);
}

.user .info { width: 560px; }
.user .info  .days-on-site { font-size: 14px; color: rgb( 96, 156, 34 ); }
.user .info>.col-2-1 { }
.user .info>.col-2-1+.col-2-2 { text-align: right; }

.user .photo-album .header { padding-top: 10px; font-size: 16px; color: rgb( 106, 178, 0 ); font-weight: bold; border-bottom: 2px solid #919191;}
.user .photo-album ul {  }
.user .photo-album ul li { list-style-type: none; padding-left: 20px; padding-bottom: 10px; }
.user .photo-album ul li img { width: 140px; height: 154px; }
.user .photo-album .more { font-size: 14px; color: rgb( 80, 86, 92 ); background-color: #f7d2b4; height: 30px; cursor: pointer; }
.user .photo-album .more p { text-align: center; padding-top: 0.5em; }

.user .full-info { }
.user .full-info .header { font-size: 16px; color: rgb( 106, 178, 0 ); font-weight: bold; border-bottom: 1px solid #919191; padding-top: 20px; }
.user .full-info .simple .col-2-1{ font-size: 14px; color: rgb( 128, 128, 128 ); }
.user .full-info .simple .col-2-2{ font-size: 14px; color: rgb( 51, 51, 51 ); }
.user .full-info .simple ul li { font-size: 14px; color: rgb( 51, 51, 51 ); list-style-type: square; }

.right-sidebar { width: 241px; }

.pulse {}
.pulse .title { font-size: 25px; color: rgb( 106, 178, 0 ); padding-bottom: 10px; }
.pulse ul { }
.pulse ul li { list-style-type: none; padding: 10px; height: 25px; background-color: #ededed; }
.pulse .temp 
{ 
	border-bottom: 1px solid #e2e2e2; 
	height: 3px; 
	padding:0; 
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px; 
}
.pulse  .header { background-color: #dcdcdc; padding: 5px; height: 15px; border-bottom: 1px solid #e2e2e2; border-top: 1px solid white; }
.pulse .first { border-top: 1px solid white; }
.pulse .header span { font-size: 12px; color: rgb( 51, 51, 51 ); }
.pulse .header span +span a { font-size: 12px; color: rgb( 29, 69, 118 ); }
.pulse .icon  img { width: 25px; height: 25px; }
.pulse .name { position: relative; bottom: 9px; left: 3px; }
.pulse .name a { font-size: 14px; color: rgb( 29, 69, 118 ); }

.banner-side{ background-color: #ededed; width: 239px; height: 250px; margin-top: 10px; }
.banner-side.empty { border: 1px solid black; }